extends index.pug 

block content 
      h1 Reset Password
      form(class="col-md-6")
        div(class="mb-3")
           
            button#btn-resetpassword(type="button", class="btn btn-primary") Resend Password  
            div
                a#ticket-resetpassword Reset link
            input#input-user(type="hidden" value=user)
block scripts 
    script(src="js/reset-password.js")